In [1]:
# Importing the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
Test = pd.read_csv("Test_merged.csv")

In [3]:
Test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 51 columns):
Unnamed: 0               13165 non-null int64
Agreement_ID             13165 non-null int64
Foreclosure              13165 non-null float64
Customer_ID              13165 non-null int64
MOB                      13165 non-null int64
Loan_Amt                 13165 non-null object
NET_DISBURSED_AMT        13165 non-null object
Interest_Start_Date      13165 non-null object
Current_ROI              13165 non-null float64
Original_ROI             13165 non-null float64
Current_Tenure           13165 non-null float64
Original_Tenure          13165 non-null int64
Due_Day                  13165 non-null int64
Authorization_Date       13165 non-null object
City                     13165 non-null object
Pre_EMI_Due_Amt          13165 non-null float64
Pre_EMI_Received_Amt     13165 non-null float64
PRE_EMI_OS_AMOUNT        13165 non-null float64
EMI_Due_Amt              13165 non-null float64
EMI_Received_Amt         13165 non-null float64
EMI_OS_AMOUNT            13165 non-null float64
Excess_Available         13165 non-null float64
Excess_Adjusted_Amt      13165 non-null float64
Balance_Excess           13165 non-null float64
Net_Receivable           13165 non-null float64
Outstanding_Principal    13165 non-null float64
Paid_Principal           13165 non-null float64
Paid_Interest            13165 non-null float64
Month_Opening            13165 non-null float64
Last_Receipt_Date        13120 non-null object
LAST_RECEIPT_AMOUNT      13012 non-null float64
Net_LTV                  13165 non-null float64
Completed_Tenure         13165 non-null int64
Balance_Tenure           13165 non-null float64
DPD                      13164 non-null float64
FOIR                     13165 non-null float64
Product                  13165 non-null object
Scheme_ID                13164 non-null float64
NPA_In_Last_Month        74 non-null object
NPA_In_Current_Month     75 non-null object
Cust_Const_Type_ID       4008 non-null float64
Cust_Category_ID         4008 non-null float64
Age                      3858 non-null float64
Gender                   3859 non-null object
Marital_Status           3858 non-null object
Qualification            3854 non-null object
No_Of_Dependent          3972 non-null float64
Gross_Income             4008 non-null float64
Pre_Job_Years            968 non-null float64
Net_Take_Home_Income     4008 non-null float64
Branch_Pincode           3978 non-null float64
dtypes: float64(32), int64(7), object(12)
memory usage: 5.1+ MB

In [4]:
from sklearn import preprocessing


# encode categorical variables using Label Encoder

# select all categorical variables
df_categorical = Test.select_dtypes(include=['object'])
df_categorical.head()

,Loan_Amt,NET_DISBURSED_AMT,Interest_Start_Date,Authorization_Date,City,Last_Receipt_Date,Product,NPA_In_Last_Month,NPA_In_Current_Month,Gender,Marital_Status,Qualification
0,"40,53,498.66","40,53,498.66",06-Sep-10,06-Sep-10,MUMBAI,05-Dec-17,HL,NaN,NaN,M,M,GRAD
1,"1,32,57,031.92","1,32,57,031.92",29-Sep-10,29-Sep-10,MUMBAI,05-Nov-13,HL,NaN,NaN,M,M,GRAD
2,"1,32,11,403.04","1,32,11,403.04",06-Sep-10,06-Sep-10,MUMBAI,05-Jul-14,HL,NaN,NaN,M,M,GRAD
3,"61,55,312.78","61,55,312.78",11-Oct-10,11-Oct-10,MUMBAI,05-Aug-14,HL,NaN,NaN,M,M,UG
4,"94,99,284.03","94,99,284.03",10-Nov-10,05-Nov-10,MUMBAI,11-Jun-14,LAP,NaN,NaN,M,M,GRAD

In [5]:
TestX_merged = pd.read_csv("TestX_merged.csv")

In [6]:
df_categorical = df_categorical[['City','Product','Gender','Marital_Status','Qualification']]

In [7]:
df_categorical.Gender = df_categorical.Gender.astype('str')

In [8]:
df_categorical.Marital_Status = df_categorical.Marital_Status.astype('str')

In [9]:
df_categorical.Qualification = df_categorical.Qualification.astype('str')

In [10]:
# apply Label encoder to df_categorical

le = preprocessing.LabelEncoder()
df_categorical = df_categorical.apply(le.fit_transform)
df_categorical.head()

   City  Product  Gender  Marital_Status  Qualification
0   134        0       1               0              2
1   134        0       1               0              2
2   134        0       1               0              2
3   134        0       1               0              7
4   134        1       1               0              2

In [11]:
Test_data = pd.concat([TestX_merged, df_categorical],axis = 1)

In [12]:
Test_data = Test_data.iloc[:,1:]

In [13]:
Test_data.head(100)

,Net_Disbursed_Amt,ROI_Change_Ratio,Tenure_Ratio,Tenure_Change_Ratio,Foreclosure,Net_LTV,City,Product,Gender,Marital_Status,Qualification
0,40.53,-0.32,0.28,-0.73,0.086017,79.34,134,0,1,0,2
1,132.57,-0.43,0.19,-0.10,0.062022,86.86,134,0,1,0,2
2,132.11,-0.39,0.32,0.21,0.122249,40.93,134,0,1,0,2
3,61.55,-0.32,0.14,-0.46,0.077855,45.32,134,0,1,0,7
4,94.99,-0.39,0.79,0.71,0.371909,52.34,134,1,1,0,2
5,54.01,-0.21,0.27,-0.19,0.241502,84.15,193,0,1,0,2
6,43.09,-0.34,0.14,-0.69,0.058800,70.65,134,1,1,0,5
7,76.89,-0.39,1.00,0.67,0.462677,34.78,134,0,1,0,7
8,172.52,-0.26,0.27,-0.30,0.158624,22.22,134,0,1,0,2
9,113.75,0.05,0.75,-0.07,0.846144,54.29,134,1,1,0,2
10,34.19,-0.26,0.18,-0.06,0.174128,87.58,134,0,1,1,5
11,40.94,-0.26,0.54,0.36,0.382448,54.87,134,0,1,1,2
12,76.57,-0.26,0.16,0.04,0.181173,84.58,134,0,1,1,5
13,148.42,-0.61,0.57,0.00,0.041022,27.26,134,0,1,0,5
14,96.25,-0.28,0.17,0.26,0.185390,51.70,134,0,2,2,8
15,36.83,-0.26,0.22,-0.30,0.147762,47.54,134,0,1,1,5
16,70.72,-0.21,0.60,0.13,0.436770,29.44,134,0,1,0,2
17,94.58,-0.15,0.41,-0.37,0.350152,69.77,193,0,1,0,2
18,675.58,-0.23,1.00,0.35,0.689620,64.29,134,1,2,2,8
19,60.05,-0.28,0.79,0.48,0.498681,39.51,147,1,0,0,7
20,39.78,-0.38,0.62,-0.25,0.156211,45.50,193,0,1,0,2
21,62.40,-0.05,0.22,0.26,0.559806,83.05,134,0,2,2,8
22,90.35,-0.24,0.38,-0.24,0.234244,67.25,134,1,1,0,9
23,171.74,-0.24,0.21,-0.24,0.172715,45.40,134,1,2,2,8
24,52.22,-0.08,0.36,-0.08,0.501220,69.85,193,0,1,0,4
25,61.14,-0.02,0.88,0.32,0.862988,54.74,134,1,1,1,4
26,18.70,-0.23,0.16,-0.61,0.123648,43.93,193,1,1,0,4
27,537.46,0.01,0.29,-0.38,0.566614,63.24,134,0,0,0,2
28,136.88,-0.23,0.18,-0.07,0.197799,54.78,193,1,2,2,8
29,547.97,-0.24,0.97,-0.06,0.571327,66.78,134,1,2,2,8
...,...,...,...,...,...,...,...,...,...,...,...
70,165.14,-0.08,0.26,0.33,0.536899,53.06,134,1,1,0,2
71,90.08,0.00,0.70,0.48,0.853204,64.10,134,1,1,0,7
72,38.45,-0.03,0.76,0.36,0.818163,26.30,134,1,2,2,8
73,70.34,-0.05,0.24,-0.07,0.473720,25.85,134,0,2,2,8
74,102.09,-0.25,0.29,-0.69,0.133685,50.18,134,1,2,2,8
75,350.03,-0.10,0.09,-0.06,0.339488,52.44,134,1,2,2,8
76,38.77,0.09,0.71,0.52,0.915177,37.98,46,1,2,2,8
77,121.60,-0.10,0.28,-0.07,0.430182,69.41,134,0,2,2,8
78,499.59,-0.06,0.97,0.69,0.898826,73.26,134,1,1,0,7
79,150.13,-0.09,0.20,-0.13,0.384759,46.05,134,0,2,2,8
80,350.36,-0.02,0.17,0.25,0.586223,67.14,134,0,1,0,5
81,33.70,0.10,0.54,-0.03,0.832910,42.20,166,0,1,0,2
82,52.29,0.07,0.29,0.04,0.731766,79.90,166,0,1,1,2
83,162.43,-0.10,0.15,-0.28,0.322789,65.92,134,0,0,1,6
84,40.94,-0.25,0.91,0.00,0.502025,30.90,17,1,2,2,8
85,180.16,-0.14,0.48,-0.05,0.464735,48.28,166,1,2,2,8
86,120.10,-0.14,0.48,-0.05,0.455800,32.30,166,1,2,2,8
87,54.80,0.07,0.46,-0.03,0.765061,8.72,134,0,1,0,4
88,187.66,-0.14,0.16,-0.25,0.276282,65.40,134,0,1,0,2
89,33.03,-0.14,0.11,-0.42,0.225196,69.84,166,1,2,2,8
90,45.80,-0.14,0.19,-0.25,0.290023,81.14,17,0,1,1,2
91,104.85,-0.09,0.26,-0.06,0.414818,12.43,134,0,1,0,2
92,3.62,0.08,0.45,-0.08,0.763146,5.46,147,0,2,2,8
93,77.84,-0.15,0.17,-0.38,0.231881,32.39,193,1,2,2,8
94,94.58,-0.12,0.55,0.65,0.690772,79.64,166,0,1,0,2
95,38.17,-0.15,0.19,-0.24,0.277497,80.44,17,0,1,0,2
96,354.31,0.06,0.56,-0.02,0.813912,67.11,46,1,2,2,8
97,15.01,-0.08,0.13,-0.15,0.349083,24.58,61,1,2,2,8
98,21.69,-0.10,0.70,0.66,0.778027,80.00,17,0,1,0,7
99,21.70,-0.10,0.07,-0.11,0.305587,41.53,166,0,1,0,5

In [14]:
import pickle
filename = 'edelweiss_random_forests_model.sav'
loaded_model = pickle.load(open(filename, 'rb'))
y_pred = loaded_model.predict_proba(Test_data[['Net_Disbursed_Amt','ROI_Change_Ratio','Tenure_Ratio',
'Tenure_Change_Ratio','Net_LTV','City','Product','Gender','Marital_Status','Qualification']])

In [15]:
# Converting y_pred to a dataframe which is an array
y_pred_df = pd.DataFrame(y_pred)

In [16]:
# Converting to column dataframe
y_pred_1 = y_pred_df.iloc[:,[1]]

In [17]:
# Let's see the head
y_pred_1.describe()

                  1
count  13165.000000
mean       0.090870
std        0.163927
min        0.000000
25%        0.003209
50%        0.016602
75%        0.085080
max        0.833198

In [18]:
# Converting y_test to dataframe
y_test_df = pd.DataFrame(Test['Agreement_ID'])

In [19]:
y_test_df

       Agreement_ID
0          11220003
1          11220004
2          11220005
3          11220007
4          11220009
5          11220013
6          11220015
7          11220018
8          11220019
9          11220023
10         11220024
11         11220027
12         11220028
13         11220031
14         11220033
15         11220035
16         11220038
17         11220045
18         11220047
19         11220049
20         11220060
21         11220062
22         11220068
23         11220071
24         11220073
25         11220078
26         11220079
27         11220080
28         11220086
29         11220087
...             ...
13135      11252861
13136      11252862
13137      11252866
13138      11252868
13139      11252871
13140      11252876
13141      11252879
13142      11252884
13143      11252886
13144      11252887
13145      11252888
13146      11252895
13147      11252898
13148      11252901
13149      11252904
13150      11252906
13151      11252909
13152      11252910
13153      11252913
13154      11252916
13155      11252920
13156      11252923
13157      11252924
13158      11252925
13159      11252931
13160      11253334
13161      11253336
13162      11253342
13163      11253343
13164      11253352

[13165 rows x 1 columns]

In [20]:
# Removing index for both dataframes to append them side by side 
y_pred_1.reset_index(drop=True, inplace=True)
y_test_df.reset_index(drop=True, inplace=True)

In [21]:
# Appending y_test_df and y_pred_1
y_pred_final = pd.concat([y_test_df,y_pred_1],axis=1)

In [22]:
# Renaming the column 
y_pred_final= y_pred_final.rename(columns={ 1 : 'Foreclosure_Prob'})

In [23]:
# Rearranging the columns
y_pred_final = y_pred_final.reindex_axis(['Agreement_ID','Foreclosure','Foreclosure_Prob'], axis=1)

In [24]:
# Creating new column 'predicted' with 1 if Churn_Prob>0.5 else 0
y_pred_final['predicted'] = y_pred_final.Foreclosure_Prob.map( lambda x: 1 if x > 0.5 else 0)

In [25]:
y_pred_final = y_pred_final[['Agreement_ID', 'Foreclosure_Prob']]

In [26]:
# Let's see the head of y_pred_final
y_pred_final.head(20)

    Agreement_ID  Foreclosure_Prob
0       11220003          0.439910
1       11220004          0.548903
2       11220005          0.540681
3       11220007          0.639910
4       11220009          0.047519
5       11220013          0.450658
6       11220015          0.046048
7       11220018          0.536243
8       11220019          0.459155
9       11220023          0.029221
10      11220024          0.530883
11      11220027          0.513243
12      11220028          0.684222
13      11220031          0.470901
14      11220033          0.178769
15      11220035          0.448893
16      11220038          0.532596
17      11220045          0.457498
18      11220047          0.026871
19      11220049          0.050500

In [27]:
y_pred_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13165 entries, 0 to 13164
Data columns (total 2 columns):
Agreement_ID        13165 non-null int64
Foreclosure_Prob    13165 non-null float64
dtypes: float64(1), int64(1)
memory usage: 205.8 KB

In [28]:
y_pred_final = y_pred_final.rename(columns={"Agreement_ID":"AGREEMENTID"})

In [29]:
test_final = pd.read_csv("test_foreclosure.csv")

In [30]:
test_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13342 entries, 0 to 13341
Data columns (total 2 columns):
AGREEMENTID    13342 non-null int64
FORECLOSURE    13165 non-null float64
dtypes: float64(1), int64(1)
memory usage: 208.5 KB

In [31]:
test = pd.merge(test_final, y_pred_final, how='left', on='AGREEMENTID')

In [32]:
test['FORECLOSURE'] =test['Foreclosure_Prob']

In [33]:
test = test.drop('Foreclosure_Prob',axis = 1)

In [34]:
test.to_csv('random_forests_prediction.csv')